<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
	 <br> Developed by 
			<a target="_blank" href="#">Rutvick & Niraj</a></p>
		<p target="_blank" class="float-right text-muted">
Copyright &copy 2021 <br>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>