<%- include('../includes/head.ejs')  %>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>

<header class="section-header">
<section class="header-main">
<div class="container">
	<a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="../images/360.jpg"></a>
</div> <!-- container.// -->
</section>
</header> <!-- section-header.// -->


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-pro-max-blue-hero?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021658000""></a></div>
</div> <!-- slider-product.// -->
<div class="thumbs-wrap">
  <a href="#" class="item-thumb"> <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-pro-max-blue-hero?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021658000""></a>

</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">Iphone12 pro max</h2>

<div class="rating-wrap my-3">
	<ul class="rating-stars">
		<li style="width:80%" class="stars-active"> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
		<li>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			<i class="fa fa-star"></i> 
		</li>
	</ul>
	<small class="label-rating text-muted">232 reviews</small>

</div> <!-- rating-wrap.// -->

<div class="mb-3"> 
	<var class="price h4">RS.1,35,000</var> 
 
</div> <!-- price-detail-wrap .// -->

<p></p>


<dl class="row">
  <dt class="col-sm-3">OS</dt>
  <dd class="col-sm-9">IOS 14.5</dd>

  <dt class="col-sm-3">Color</dt>
  <dd class="col-sm-9">BLUE</dd>

  <dt class="col-sm-3">RAM AND STORAGE</dt>
  <dd class="col-sm-9">6GB,128GB </dd>
  
  
  <dt class="col-sm-3">DISPLAY</dt>
  <dd class="col-sm-9">XDR RETINA OLED HDR 10 CERTIFIED </dd>
</dl>

<hr>

		
	</div> <!-- row.// -->


</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br><br><br><br>
<%- include('../includes/end.ejs')  %>