<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

<title>HP Omen</title>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
  // jQuery code

}); 
// jquery end
</script>

</head>
<body>

<header class="section-header">
<section class="header-main">
<div class="container">
  <a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="../images/360.jpg"></a>
</div> <!-- container.// -->
</section>
</header> <!-- section-header.// -->


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
  <div class="row no-gutters">
    <aside class="col-md-6">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_FgHYRTgbzyEt3WeN-ITtwnlpVZGb-sZi4Q&usqp=CAU"></a></div>
</div> <!-- slider-product.// -->
<div class="thumbs-wrap">

</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
    </aside>
    <main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">HP Omen</h2>

<div class="rating-wrap my-3">
  <ul class="rating-stars">
    <li style="width:80%" class="stars-active"> 
      <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
      <i class="fa fa-star"></i> 
    </li>
    <li>
      <i class="fa fa-star"></i>  <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>  <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </li>
  </ul>
</div> <!-- rating-wrap.// -->

<div class="mb-3"> 
  <var class="price h4">Rs 79000.00</var>  
</div> <!-- price-detail-wrap .// -->

<p>1 SuperSpeed USB Type-C 5Gbps signaling rate (DisplayPort 1.4, HP Sleep and Charge), 1 SuperSpeed USB Type-A 5Gbps signaling rate (HP Sleep and Charge), 2 SuperSpeed USB Type-A 5Gbps signaling rate, 1 Mini DisplayPort, 1 HDMI 2.0a, 1 RJ-45</p>


<dl class="row">
  <dt class="col-sm-3">Ram : </dt>
  <dd class="col-sm-9">8GB DDR 4</dd>

  <dt class="col-sm-3">Display : </dt>
  <dd class="col-sm-9">15.6 inch</dd>

  <dt class="col-sm-3">Storage : </dt>
  <dd class="col-sm-9">512GB</dd>
</dl>

<hr>
 <!-- col.// -->
  </div> <!-- row.// -->

</article> <!-- product-info-aside .// -->
    </main> <!-- col.// -->
  </div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br><br><br><br>
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-left text-muted"> Designed by <a href="http://pixsellz.io">Pixsellz</a> <br> Developed by 
      <a target="_blank" href="http://behance.net/vosidiy">Vosidiy Muslimbek</a></p>
    <p target="_blank" class="float-right text-muted">
Copyright &copy 2019 <br>
<a href="http://bootstrap-ecommerce.com">Bootstrap-ecommerce UI kit</a>
    </p>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>